<!doctype html>
<html lang="en" ng-app="mtrack" data-framework="angularjs">
	<head>
		<title>mtrack</title>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-glyphicons.css"/>
        <style>[ng-cloak] { display: none; }</style>
    </head>
    <body>
        <div id="mtrackapp" ng-controller="ProgressCtrl">
			<div id="header" class="container">
				<h2>recently updated</h2>
            </div>
            <div id="main" class="container" ng-cloak>
                <a id="signin" ng-click="verify()" ng-hide="verified" href="#" ><img alt="sign in" src="https://developer.mozilla.org/files/3971/plain_sign_in_red.png" ></a>
		        <a id="signout" ng-click="logout()" ng-show="verified" href="#">sign out</a>
                <div ng-repeat="root in mediaRoots">
                    <div class="row media-root">
                        <div class="col-12 col-sm-12 col-lg-12"><h3>{{root}}/</h3></div>
                    </div>
                    <div ng-repeat="m in mediaByRoot[root]" class="row media rooted">
                        <div class="col-6 col-sm-6 col-lg-6">
                            <div>
                                <strong>{{m.basename}}</strong>
                            </div>
                            <div class="media-progress">
                                <span class="glyphicon glyphicon-eye-open in-progress" data-userid="{{u.userId}}" ng-repeat="u in usersInProgress[m.mediaId]"></span>
                                <span class="glyphicon glyphicon-flag finished" data-userid="{{u.userId}}" ng-repeat="u in usersFinished[m.mediaId]"></span>
                            </div>
                        </div>
                        <div ng-show="verified" class="col-6 col-sm-6 col-lg-6 media-action">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-link"
                                            ng-click="clearMedia(m.mediaId)"
                                            ng-disabled="mediaUnwatched(m.mediaId)">
                                        <span class="glyphicon glyphicon-fast-backward"></span>
                                    </button>
                                    <button class="btn btn-link"
                                            ng-click="startMedia(m.mediaId)"
                                            ng-disabled="mediaStarted(m.mediaId)"> 
                                        <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                    <button class="btn btn-link"
                                            ng-click="finishMedia(m.mediaId)"
                                            ng-disabled="mediaFinished(m.mediaId)">
                                        <span class="glyphicon glyphicon-fast-forward"></span>
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn">???</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" ng-cloak>
            </div>
        </div>

        <script type="text/javascript" src="https://login.persona.org/include.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/persona.js"></script>
        <script type="text/javascript" src="js/controllers/progressCtrl.js"></script>
    </body>
</html>
